//COLORS
$white: #fff;
$purple: #282f59;
$ash: #7c7c7c;
$orange: #ff4500;
$footer: #f2f6f8;

$greenBlue: linear-gradient(to bottom right, #2af598, #009efd); 
$purpleBlue: linear-gradient(to bottom right, #5050ff, #fd7777);
$orangish: linear-gradient( to bottom right, rgb(255, 207, 145), rgb(255, 111, 92) );
$bluish: linear-gradient(to bottom right, #6b6bff, #0000ff);