$greenBlue: linear-gradient(to bottom right, #2af598, #009efd); 
$purpleBlue: linear-gradient(to bottom right, #5050ff, #fd7777);
$white: #fff;
$purple: #282f59;
$ash: #7c7c7c;
$orange: #ff4500;
$footer: #f2f6f8;
$lightash: #e5e7e8;
$blue: #96cff3;

@mixin button($color, $hover){
    text-decoration: none;
    font-weight: 600;
    padding: 20px 30px;
    background: $color;
    color: white;
    border-radius: 5px; 
    border: none;
    cursor: pointer;
    &:hover{
        background: $hover;
    }
}

@mixin title{
    font-size: 5rem;
    font-weight: 900;
    color: $purple;
    margin-bottom: 2rem;
}

@mixin content{
    color: $ash;
    line-height: 3rem;
    font-size: 2rem;
    text-align: justify;
}

header{
    background: url("../images/page-title.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    
}

.header{
    &_body{
        background: rgba(0,0,0,0.6);
        margin: 0;
        padding-left: 2rem;
    }

    &_culture-title{
        text-transform: capitalize;
        font-size: 5rem;
        margin-bottom: 0;
    }
}

.nav_right{
    button{
        @include button($purpleBlue, $greenBlue);
        padding: 1.5rem 2.5rem;
    }
}

.contact{
    &_cover{
        padding: 5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &_title{
        @include title;
        text-align: center;
        margin-top: 3rem;
    }

    &_subtitle{
        color: $purple;
        font-size: 2.5rem;
        font-weight: 500;
        margin-bottom: 2rem;
    }
}

.form-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact_1sthalf{
    width: 60%;
}


.one-input{
    width: 45%;
    margin-bottom: 2rem;
    
    input{
        width: 100%;
        padding: 1rem;
        border-radius: 0.5rem;
        background: $lightash;
        margin-top: 1rem;
    }
}

textarea{
    width: 100%;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    background: $lightash;
    margin-top: 1rem;
}

button{
    @include button($greenBlue, $purpleBlue);
    padding: 1.5rem 2.5rem;
}

.contact_2ndhalf{
    background-color: $blue;
    padding: 3rem;
    width: 300px;
}

.contact_info{
    font-size: 2rem;
    font-weight: 900;
    color: $purple;
    margin-bottom: 1rem;
}

.contact_details{
    color: $white;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}


@media only screen and (max-width: 740px){
    .slide{
        height:60vh;
    }
}

@media only screen and (max-width: 970px){
    .contact{
        &_1sthalf{
            width: 100%;
        }
        &_2ndhalf{
            margin-top: 2rem;
        }
    }
}

@media only screen and (max-width: 900px){
    .form-flex{
        flex-direction: column;
    }
    .one-input{
        width:80%;
    }
}

@media only screen and (max-width: 500px){
    .one-input{
        width:100%;
    }
}